body {
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-image: url(img/img1.jpg); */
    background-color: rgba(92, 145, 138, 0.521);
}
#name-input #phone-input #email-input  {
    height: 35px;
    width: 100%;
}
#description-input {
    width: 200%;
}
button{
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
}
button:hover {
    opacity: 1;
}
input {
    border-radius: 20px;
    height: 29px;
    width: 120%;
    border: none;
    border-bottom: 2px solid red;
}
textarea{
    border-radius: 4px;
    border-bottom: 2px solid red;
}